{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">

	<div class="container-fluid p-3">
		<h1>Liste des todos</h1>

		{% for message in app.session.flashBag.get('info') %}
			<div class="alert alert-info" role="alert">
				{{message}}
			</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('success') %}
			<div class="alert alert-success" role="alert">
				{{message}}
			</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('error') %}
			<div class="alert alert-danger" role="alert">
				{{message}}
			</div>
		{% endfor %}

		<ul class="list-group">
			{% for name,content in app.session.get('todos') %}
				<li class="list-group-item">
					<h5>{{name|upper}} :</h5>
					<hr><h6>{{content|capitalize}}</h6>
					<p>Enregisté le : {{ "now" |date('d/m/y')}}</p>
				</li>
			{% endfor %}
		</ul>

	</div>
	{# commentaire #}
{% endblock %}
