{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">



    <table class="table table-success table-striped-columns">
    <h2>Notes : </h2>
        {% for note in notes %}
          <tr>
            <td>
                {{note}}
            </td>
          </tr>  
        {% endfor %}
    </table>

    <div class="alert alert-info">
    
        <p>Nombre de notes : {{ notes | length }}</p>
        <p>Note minimale: {{ min(notes)}}</p>
        <p>Note maximale: {{ max(notes)}}</p>
        <p>moyenne: {{ moyenne }}</p>
        <p>Notes en date du : {{ "now" |date('d M Y') }}</p>
    </div>


{% endblock %}
